USE [A2016_BDDCS_LaplaceJordan]
GO
/****** Object:  Table [dbo].[CHOISIT]    Script Date: 13/12/2016 20:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHOISIT](
	[idJoueur] [int] NOT NULL,
	[idParieur] [int] NOT NULL,
	[idAnnee] [int] NOT NULL,
 CONSTRAINT [PK_CHOISIT] PRIMARY KEY CLUSTERED 
(
	[idJoueur] ASC,
	[idParieur] ASC,
	[idAnnee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHOISIT]  WITH CHECK ADD  CONSTRAINT [FK_CHOISIT_ANNEE] FOREIGN KEY([idAnnee])
REFERENCES [dbo].[ANNEE] ([idAnnee])
GO
ALTER TABLE [dbo].[CHOISIT] CHECK CONSTRAINT [FK_CHOISIT_ANNEE]
GO
ALTER TABLE [dbo].[CHOISIT]  WITH CHECK ADD  CONSTRAINT [FK_CHOISIT_JOUEUR] FOREIGN KEY([idJoueur])
REFERENCES [dbo].[JOUEUR] ([idJoueur])
GO
ALTER TABLE [dbo].[CHOISIT] CHECK CONSTRAINT [FK_CHOISIT_JOUEUR]
GO
ALTER TABLE [dbo].[CHOISIT]  WITH CHECK ADD  CONSTRAINT [FK_CHOISIT_PARIEUR] FOREIGN KEY([idParieur])
REFERENCES [dbo].[PARIEUR] ([idPar])
GO
ALTER TABLE [dbo].[CHOISIT] CHECK CONSTRAINT [FK_CHOISIT_PARIEUR]
GO
