USE [A2016_BDDCS_LaplaceJordan]
GO
/****** Object:  StoredProcedure [dbo].[P_DELETE_JOUEUR_POUR_PARIEUR]    Script Date: 13/12/2016 20:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_DELETE_JOUEUR_POUR_PARIEUR]

	@idParieur INT  , 
	@idAnnee Int   
	AS
BEGIN

	BEGIN TRY
		BEGIN TRANSACTION

			DELETE FROM CHOISIT WHERE (idParieur = @idParieur) and (@idAnnee = idAnnee )  ;

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
	END CATCH
END

GO
