USE [A2016_BDDCS_LaplaceJordan]
GO
/****** Object:  StoredProcedure [dbo].[P_SELECT_REF_PARIEUR]    Script Date: 13/12/2016 20:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_SELECT_REF_PARIEUR] 
AS
BEGIN
	SELECT defRef , typePar
	FROM REF_PARIEUR
	ORDER BY defRef
END
GO
