USE [A2016_BDDCS_LaplaceJordan]
GO
/****** Object:  Table [dbo].[REF_PARIEUR]    Script Date: 13/12/2016 20:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REF_PARIEUR](
	[typePar] [int] IDENTITY(1,1) NOT NULL,
	[defRef] [varchar](50) NOT NULL,
 CONSTRAINT [PK_REF_PARIEUR] PRIMARY KEY CLUSTERED 
(
	[typePar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
