USE [A2016_BDDCS_LaplaceJordan]
GO
/****** Object:  Table [dbo].[PARIEUR]    Script Date: 13/12/2016 20:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARIEUR](
	[idPar] [int] IDENTITY(1,1) NOT NULL,
	[prenomPar] [varchar](50) NOT NULL,
	[nomPar] [varchar](50) NOT NULL,
	[typePar] [int] NOT NULL,
	[courrielPar] [varchar](50) NOT NULL,
	[dateSupression] [date] NULL,
	[sel] [varchar](50) NULL,
	[hash] [varchar](50) NULL,
 CONSTRAINT [PK_PARIEUR] PRIMARY KEY CLUSTERED 
(
	[idPar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PARIEUR]  WITH CHECK ADD  CONSTRAINT [FK_PARIEUR_REF_PARIEUR] FOREIGN KEY([typePar])
REFERENCES [dbo].[REF_PARIEUR] ([typePar])
GO
ALTER TABLE [dbo].[PARIEUR] CHECK CONSTRAINT [FK_PARIEUR_REF_PARIEUR]
GO
