USE [A2016_BDDCS_LaplaceJordan]
GO
/****** Object:  StoredProcedure [dbo].[P_SELECT_POSITION_MODIFICATION_JOUEUR]    Script Date: 13/12/2016 20:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_SELECT_POSITION_MODIFICATION_JOUEUR]
AS
BEGIN
	SELECT	idPos as Pos
	FROM POSITION
	ORDER BY descriptionPos 
END
GO
