USE [A2016_BDDCS_LaplaceJordan]
GO
/****** Object:  StoredProcedure [dbo].[P_UPDATE_PARAMETRE_CHOIX_PARIEUR]    Script Date: 13/12/2016 20:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_UPDATE_PARAMETRE_CHOIX_PARIEUR]
@coteTotalMaximun INT,
@nombreMaximunDeJoueur INT 
--coteTotalMaximun
--nombreMaximunDeJoueur

AS
BEGIN
	BEGIN TRY
	BEGIN TRANSACTION
	UPDATE PARAMETRE SET valeurParam = @coteTotalMaximun WHERE codeParam = 'coteTotalMaximun'
	UPDATE PARAMETRE SET valeurParam = @nombreMaximunDeJoueur WHERE codeParam = 'nombreMaximunDeJoueur'
	COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
	PRINT ''
	PRINT 'ERROR_NUMBER: ' + CONVERT(VARCHAR(10),ERROR_NUMBER())
	PRINT 'ERROR_MESSAGE: ' + ERROR_MESSAGE()
	PRINT 'ERROR_LINE: ' + CONVERT(VARCHAR(10),ERROR_LINE())
	PRINT 'ERROR_SEVERITY: ' + CONVERT(VARCHAR(10),ERROR_SEVERITY())
	PRINT 'ERROR_STATE: ' + CONVERT(VARCHAR(10),ERROR_STATE())


		ROLLBACK TRANSACTION
	END CATCH
END
GO
