USE [A2016_BDDCS_LaplaceJordan]
GO
/****** Object:  Table [dbo].[JOUEUR]    Script Date: 13/12/2016 20:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOUEUR](
	[idJoueur] [int] IDENTITY(1,1) NOT NULL,
	[prenomJoueur] [varchar](50) NOT NULL,
	[nomJoueur] [varchar](50) NOT NULL,
	[dateSuppression] [date] NULL,
	[idPos] [varchar](2) NOT NULL,
 CONSTRAINT [PK_JOUEUR_1] PRIMARY KEY CLUSTERED 
(
	[idJoueur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[JOUEUR]  WITH CHECK ADD  CONSTRAINT [FK_JOUEUR_POSITION] FOREIGN KEY([idPos])
REFERENCES [dbo].[POSITION] ([idPos])
GO
ALTER TABLE [dbo].[JOUEUR] CHECK CONSTRAINT [FK_JOUEUR_POSITION]
GO
